{
  "openapi": "3.1.0",
  "info": {
    "title": "PGO Engine API",
    "description": "Secured with Basic Auth",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "http://pgo.otapp.live/api",
      "description": "Generated server url"
    }
  ],
  "security": [{ "basicAuth": [] }],
  "tags": [
    {
      "name": "Admin Merchant API Keys",
      "description": "Admin APIs for managing merchant API keys"
    },
    {
      "name": "Admin Payment Channels Management",
      "description": "Admin APIs for managing payment channels"
    },
    {
      "name": "Admin Transaction Management",
      "description": "Admin APIs for managing transactions"
    },
    { "name": "Auth Controller", "description": "Auth API" },
    {
      "name": "Admin Merchant Management",
      "description": "Admin APIs for managing merchants"
    },
    {
      "name": "Admin Role Management",
      "description": "Admin APIs for managing roles"
    },
    {
      "name": "Admin Payment Gateway Management",
      "description": "Admin APIs for managing payment gateways"
    },
    {
      "name": "Admin Session Config",
      "description": "Provides configuration data for Admin UI"
    },
    { "name": "Public Splash Controller", "description": "Splash API" },
    {
      "name": "AzamPay Callbacks",
      "description": "Endpoints to handle checkout and disbursement callbacks from AzamPay"
    },
    {
      "name": "Admin Gateway - Channel Management",
      "description": "Admin APIs for managing gateway-channel mappings"
    },
    {
      "name": "Admin User Management",
      "description": "Admin APIs for managing users"
    },
    {
      "name": "Dashboard",
      "description": "Dashboard APIs for analytics and statistics"
    },
    {
      "name": "Admin Disbursement Management",
      "description": "Admin APIs for managing disbursements"
    }
  ],
  "paths": {
    "/admin/v1/users/uid/{uid}": {
      "put": {
        "tags": ["Admin User Management"],
        "summary": "Update a user",
        "description": "Updates an existing user with the given UID. For MERCHANT_USER accounts, associatedMerchantId must reference a sub-merchant.",
        "operationId": "updateUser",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateUserRequestDto" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "User updated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperUserResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/transactions/{id}/status": {
      "put": {
        "tags": ["Admin Transaction Management"],
        "summary": "Update transaction status",
        "description": "Updates the status of a transaction.",
        "operationId": "updateTransactionStatus",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionStatusUpdateDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Transaction status updated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperTransactionResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/payment-gateways/{id}": {
      "get": {
        "tags": ["Admin Payment Gateway Management"],
        "summary": "Get payment gateway by ID",
        "description": "Returns a payment gateway by its database ID.",
        "operationId": "getPaymentGatewayById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment gateway retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperPaymentGatewayResponseDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Admin Payment Gateway Management"],
        "summary": "Update payment gateway",
        "description": "Updates an existing payment gateway by its database ID.",
        "operationId": "updatePaymentGateway",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePaymentGatewayRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Payment gateway updated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperPaymentGatewayResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/payment-channels/uid/{uid}": {
      "get": {
        "tags": ["Admin Payment Channels Management"],
        "summary": "Get payment channel by UID",
        "description": "Fetch a payment channel by its unique UID.",
        "operationId": "getPaymentChannelByUid",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment channel retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperPaymentChannelResponseDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Admin Payment Channels Management"],
        "summary": "Update payment channel",
        "description": "Updates mutable details of a payment channel by UID. Channel code remains immutable and cannot be changed.",
        "operationId": "updatePaymentChannel",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePaymentChannelRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Payment channel updated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperPaymentChannelResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/merchants/uid/{uid}": {
      "get": {
        "tags": ["Admin Merchant Management"],
        "summary": "Get merchant by UID",
        "description": "Returns a merchant by its unique UID.",
        "operationId": "getMerchantByUid",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Merchant retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperMerchantResponseDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Admin Merchant Management"],
        "summary": "Update merchant",
        "description": "Updates an existing merchant by UID.",
        "operationId": "updateMerchant",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMerchantRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Merchant updated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperMerchantResponseDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Admin Merchant Management"],
        "summary": "Delete merchant",
        "description": "Deletes a merchant by its database ID.",
        "operationId": "deleteMerchant",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "reason",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Merchant deleted successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/gateway-channels/{id}": {
      "put": {
        "tags": ["Admin Gateway - Channel Management"],
        "summary": "Update gateway-channel mapping",
        "description": "Updates metadata for an existing gateway-channel mapping.",
        "operationId": "updateGatewayChannel",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateGatewayChannelRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Mapping updated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperPaymentGatewayChannelResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/disbursements/{id}/status": {
      "put": {
        "tags": ["Admin Disbursement Management"],
        "summary": "Update disbursement status",
        "description": "Updates the status of a disbursement.",
        "operationId": "updateDisbursementStatus",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DisbursementStatusUpdateDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Disbursement status updated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperDisbursementResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/external/transactions/payments/utility": {
      "post": {
        "tags": ["payment-integration-controller"],
        "operationId": "payUtility",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UtilityPaymentRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "type": "object" } } }
          }
        }
      }
    },
    "/partner/v1/azam/disbursement/callback": {
      "post": {
        "tags": ["AzamPay Callbacks"],
        "summary": "Handle disbursement callback",
        "description": "Processes disbursement callback from AzamPay",
        "operationId": "handleDisbursementCallback",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AzamDisbursementCallbackRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResponseWrapperVoid" }
              }
            }
          }
        }
      }
    },
    "/partner/v1/azam/checkout/callback": {
      "post": {
        "tags": ["AzamPay Callbacks"],
        "summary": "Handle checkout callback",
        "description": "Processes checkout callback from AzamPay",
        "operationId": "handleCheckoutCallback",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AzamCheckoutCallbackRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResponseWrapperVoid" }
              }
            }
          }
        }
      }
    },
    "/merchant/v1/transactions": {
      "post": {
        "tags": ["merchant-transaction-controller"],
        "operationId": "initiateTransaction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PaymentRequestDto" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperPaymentResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/auth/users/{userId}/password/reset": {
      "post": {
        "tags": ["Auth Controller"],
        "summary": "Reset user password",
        "description": "Allows admins to reset passwords for any user.",
        "operationId": "resetPassword",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordResetRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperAuthResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "tags": ["Auth Controller"],
        "summary": "Refresh JWT access token",
        "operationId": "refreshAccessToken",
        "parameters": [
          {
            "name": "X-REFRESH-TOKEN",
            "in": "header",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperAuthResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "tags": ["Auth Controller"],
        "summary": "User logout",
        "description": "Logs out the authenticated user.",
        "operationId": "logout",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AuthRequestDto" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperAuthResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": ["Auth Controller"],
        "summary": "User login",
        "description": "Authenticates the user and returns a JWT token.",
        "operationId": "login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AuthRequestDto" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperAuthResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/auth/change-password": {
      "post": {
        "tags": ["Auth Controller"],
        "summary": "Change own password",
        "description": "Allows any authenticated user to change their password. Users must provide their current password and a valid new password that meets security requirements.",
        "operationId": "changeOwnPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordChangeRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Password changed successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperBoolean"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request - current password incorrect, passwords don't match, or new password doesn't meet requirements",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperBoolean"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - authentication required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/api/webhooks/payment/selcom": {
      "post": {
        "tags": ["payment-webhook-controller"],
        "operationId": "handleSelcomWebhook",
        "requestBody": {
          "content": { "application/json": { "schema": { "type": "object" } } },
          "required": true
        },
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/api/webhooks/payment/azampay": {
      "post": {
        "tags": ["payment-webhook-controller"],
        "operationId": "handleAzamPayWebhook",
        "requestBody": {
          "content": { "application/json": { "schema": { "type": "object" } } },
          "required": true
        },
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/admin/v1/users": {
      "get": {
        "tags": ["Admin User Management"],
        "summary": "Get all users",
        "description": "Returns a paginated list of users.",
        "operationId": "getAllUsers",
        "parameters": [
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/Pageable" }
          }
        ],
        "responses": {
          "200": {
            "description": "Users retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponseWrapperUserResponseDto"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Admin User Management"],
        "summary": "Create a new user",
        "description": "Creates a new user in the system [Default password:Mn8@Rk5$Lp2x]. Requests using user type ROOT_USER are rejected. When using user type MERCHANT_USER, you must supply associatedMerchantId for a sub-merchant.",
        "operationId": "createUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateUserRequestDto" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "User created successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperUserResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/users/uid/{uid}/unlock": {
      "post": {
        "tags": ["Admin User Management"],
        "summary": "Unlock user",
        "description": "Unlocks a user account, restoring login access. Administrators cannot target their own accounts or the root account.",
        "operationId": "unlockUser",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "User unlocked successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/users/uid/{uid}/roles": {
      "post": {
        "tags": ["Admin User Management"],
        "summary": "Assign roles",
        "description": "Assign new roles to a user. Administrators cannot use this endpoint on their own accounts or the root account.",
        "operationId": "assignRoles",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "array", "items": { "type": "string" } }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Roles assigned successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperUserResponseDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Admin User Management"],
        "summary": "Remove roles",
        "description": "Remove roles from a user. Administrators cannot use this endpoint on their own accounts or the root account.",
        "operationId": "removeRoles",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "array", "items": { "type": "string" } }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Roles removed successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperUserResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/users/uid/{uid}/reset-password": {
      "post": {
        "tags": ["Admin User Management"],
        "summary": "Admin reset password",
        "description": "Resets a user's password and generates a new secure one. Self-resets via this endpoint are blocked, and the root account is immutable.",
        "operationId": "adminResetUserPassword",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "changePassword",
            "in": "query",
            "required": false,
            "schema": { "type": "boolean", "default": false }
          }
        ],
        "responses": {
          "200": {
            "description": "Password reset successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/users/uid/{uid}/lock": {
      "post": {
        "tags": ["Admin User Management"],
        "summary": "Lock user",
        "description": "Locks a user account, preventing login until unlocked. Administrators cannot target their own accounts or the root account.",
        "operationId": "lockUser",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "User locked successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/users/uid/{uid}/last-login": {
      "post": {
        "tags": ["Admin User Management"],
        "summary": "Update last login",
        "description": "Manually update last login timestamp for a user.",
        "operationId": "updateLastLogin",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Last login updated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/users/uid/{uid}/deactivate": {
      "post": {
        "tags": ["Admin User Management"],
        "summary": "Deactivate user",
        "description": "Deactivates a user account by setting its status to inactive. Administrators cannot target their own accounts or the root account.",
        "operationId": "deactivateUser",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "User deactivated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/users/uid/{uid}/activate": {
      "post": {
        "tags": ["Admin User Management"],
        "summary": "Activate user",
        "description": "Activates a user account by setting its status to active. Administrators cannot target their own accounts or the root account.",
        "operationId": "activateUser",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "User activated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/users/change-password": {
      "post": {
        "tags": ["Admin User Management"],
        "summary": "Change own password",
        "description": "Allows the logged-in user to change their password.",
        "operationId": "changeOwnPassword_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordChangeRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Password changed successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/transactions/{id}/retry": {
      "post": {
        "tags": ["Admin Transaction Management"],
        "summary": "Retry transaction",
        "description": "Retries a failed transaction.",
        "operationId": "retryTransaction",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction retry initiated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperTransactionResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/transactions/{id}/refund": {
      "post": {
        "tags": ["Admin Transaction Management"],
        "summary": "Refund transaction",
        "description": "Refunds a transaction with specified amount and reason.",
        "operationId": "refundTransaction",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "refundAmount",
            "in": "query",
            "required": true,
            "schema": { "type": "number" }
          },
          {
            "name": "reason",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction refunded successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperTransactionResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/transactions/{id}/complete": {
      "post": {
        "tags": ["Admin Transaction Management"],
        "summary": "Complete transaction",
        "description": "Marks a transaction as completed.",
        "operationId": "completeTransaction",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "reason",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction completed successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperTransactionResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/transactions/{id}/cancel": {
      "post": {
        "tags": ["Admin Transaction Management"],
        "summary": "Cancel transaction",
        "description": "Cancels a transaction with a reason.",
        "operationId": "cancelTransaction",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "reason",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction cancelled successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperTransactionResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/transactions/summary": {
      "post": {
        "tags": ["Admin Transaction Management"],
        "summary": "Get transaction summary",
        "description": "Generates a summary of transactions based on criteria.",
        "operationId": "getTransactionSummary",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionSearchCriteriaDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Transaction summary generated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperTransactionSummaryDto"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/transactions/stale/process": {
      "post": {
        "tags": ["Admin Transaction Management"],
        "summary": "Process stale transactions",
        "description": "Processes and marks stale transactions as failed.",
        "operationId": "processStaleTransactions",
        "parameters": [
          {
            "name": "staleThreshold",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "format": "date-time" }
          }
        ],
        "responses": {
          "200": {
            "description": "Stale transactions processed successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperInteger"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/transactions/search": {
      "post": {
        "tags": ["Admin Transaction Management"],
        "summary": "Search transactions",
        "description": "Search transactions using advanced criteria.",
        "operationId": "searchTransactions",
        "parameters": [
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/Pageable" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionSearchCriteriaDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Transactions retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponseWrapperTransactionResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/transactions/export/excel": {
      "post": {
        "tags": ["Admin Transaction Management"],
        "summary": "Export transactions to Excel",
        "description": "Exports transactions to Excel format.",
        "operationId": "exportTransactionsToExcel",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionSearchCriteriaDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Transactions exported to Excel successfully",
            "content": {
              "*/*": { "schema": { "type": "string", "format": "byte" } }
            }
          }
        }
      }
    },
    "/admin/v1/transactions/export/csv": {
      "post": {
        "tags": ["Admin Transaction Management"],
        "summary": "Export transactions to CSV",
        "description": "Exports transactions to CSV format.",
        "operationId": "exportTransactionsToCsv",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionSearchCriteriaDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Transactions exported to CSV successfully",
            "content": { "*/*": { "schema": { "type": "string" } } }
          }
        }
      }
    },
    "/admin/v1/transactions/archive": {
      "post": {
        "tags": ["Admin Transaction Management"],
        "summary": "Archive old transactions",
        "description": "Archives transactions older than the specified threshold.",
        "operationId": "archiveOldTransactions",
        "parameters": [
          {
            "name": "archiveThreshold",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "format": "date-time" }
          }
        ],
        "responses": {
          "200": {
            "description": "Transactions archived successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperInteger"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/test-send-email": {
      "post": {
        "tags": ["others-controller"],
        "summary": "Create a new user",
        "description": "Creates a new user in the system [Default password:Mn8@Rk5$Lp2x]",
        "operationId": "send",
        "responses": { "200": { "description": "User created successfully" } }
      }
    },
    "/admin/v1/payment-gateways": {
      "get": {
        "tags": ["Admin Payment Gateway Management"],
        "summary": "Get all payment gateways (paginated)",
        "description": "Returns a paginated list of payment gateways.",
        "operationId": "getAllPaymentGateways",
        "parameters": [
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/Pageable" }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment gateways retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponseWrapperPaymentGatewayResponseDto"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Admin Payment Gateway Management"],
        "summary": "Create payment gateway",
        "description": "Creates a new payment gateway in the system.",
        "operationId": "createPaymentGateway",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentGatewayRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Payment gateway created successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperPaymentGatewayResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/payment-gateways/uid/{uid}/deactivate": {
      "post": {
        "tags": ["Admin Payment Gateway Management"],
        "summary": "Deactivate payment gateway",
        "description": "Deactivates a payment gateway by its UID.",
        "operationId": "deactivatePaymentGateway",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment gateway deactivated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperPaymentGatewayResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/payment-gateways/uid/{uid}/activate": {
      "post": {
        "tags": ["Admin Payment Gateway Management"],
        "summary": "Activate payment gateway",
        "description": "Activates a payment gateway by its UID.",
        "operationId": "activatePaymentGateway",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment gateway activated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperPaymentGatewayResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/payment-gateways/uid/{gatewayUid}/channels/uid/{channelUid}": {
      "post": {
        "tags": ["Admin Payment Gateway Management"],
        "summary": "Assign payment channel to payment gateway",
        "description": "Links a payment channel to a payment gateway with payCode and provider metadata.",
        "operationId": "assignPaymentChannelToGateway",
        "parameters": [
          {
            "name": "gatewayUid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "channelUid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssignChannelToGatewayRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Payment channel assigned to gateway successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperPaymentGatewayChannelResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/payment-channels": {
      "get": {
        "tags": ["Admin Payment Channels Management"],
        "summary": "Get all payment channels (paginated)",
        "description": "Returns a paginated list of payment channels.",
        "operationId": "getAllPaymentChannels",
        "parameters": [
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/Pageable" }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment channels retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponseWrapperPaymentChannelResponseDto"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Admin Payment Channels Management"],
        "summary": "Create payment channel",
        "description": "Creates a new payment channel in the system.",
        "operationId": "createPaymentChannel",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentChannelRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Payment channel created successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperPaymentChannelResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/payment-channels/uid/{uid}/deactivate": {
      "post": {
        "tags": ["Admin Payment Channels Management"],
        "summary": "Deactivate payment channel",
        "description": "Deactivates a payment channel by setting its status to inactive.",
        "operationId": "deactivatePaymentChannel",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment channel deactivated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/payment-channels/uid/{uid}/activate": {
      "post": {
        "tags": ["Admin Payment Channels Management"],
        "summary": "Activate payment channel",
        "description": "Activates a payment channel by setting its status to active.",
        "operationId": "activatePaymentChannel",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment channel activated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/merchants": {
      "get": {
        "tags": ["Admin Merchant Management"],
        "summary": "Get all merchants",
        "description": "Returns a paginated list of merchants.",
        "operationId": "getAllMerchants",
        "parameters": [
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/Pageable" }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Pending",
                "Active",
                "Suspended",
                "Inactive",
                "Rejected",
                "Under Review"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Merchants retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponseWrapperMerchantResponseDto"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Admin Merchant Management"],
        "summary": "Create merchant",
        "description": "Creates a new merchant in the system.",
        "operationId": "createMerchant",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMerchantRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Merchant created successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperMerchantResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/merchants/uid/{uid}/kyc/decision": {
      "post": {
        "tags": ["Admin Merchant Management"],
        "summary": "Submit KYC decision",
        "description": "Records an approval or rejection for the merchant KYC workflow.",
        "operationId": "updateMerchantKyc",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantKycDecisionRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperMerchantResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/merchants/uid/{uid}/bank-accounts": {
      "get": {
        "tags": ["Admin Merchant Management"],
        "summary": "List bank accounts",
        "description": "Returns settlement bank accounts configured for the merchant.",
        "operationId": "listBankAccounts",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperListMerchantBankAccountResponseDto"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Admin Merchant Management"],
        "summary": "Create or update bank account",
        "description": "Adds or updates a settlement bank account for the merchant.",
        "operationId": "upsertBankAccount",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantBankAccountRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperMerchantBankAccountResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/merchants/uid/{merchantUid}/api-keys": {
      "get": {
        "tags": ["Admin Merchant API Keys"],
        "summary": "List API keys",
        "description": "Retrieves all API keys belonging to the merchant",
        "operationId": "getMerchantApiKeys",
        "parameters": [
          {
            "name": "merchantUid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/Pageable" }
          }
        ],
        "responses": {
          "200": {
            "description": "API keys retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponseWrapperMerchantApiKeyResponseDto"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Admin Merchant API Keys"],
        "summary": "Create API key",
        "description": "Issues a new API key + secret for the merchant",
        "operationId": "createApiKey",
        "parameters": [
          {
            "name": "merchantUid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantApiKeyCreateRequestDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API key created successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperMerchantApiKeyResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/gateway-channels/{id}/deactivate": {
      "post": {
        "tags": ["Admin Gateway - Channel Management"],
        "summary": "Deactivate mapping",
        "description": "Deactivates a specific gateway-channel mapping.",
        "operationId": "deactivateGatewayChannel",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "Mapping deactivated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/gateway-channels/{id}/activate": {
      "post": {
        "tags": ["Admin Gateway - Channel Management"],
        "summary": "Activate mapping",
        "description": "Activates a specific gateway-channel mapping.",
        "operationId": "activateGatewayChannel",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "Mapping activated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/gateway-channels/gateway/uid/{gatewayUid}/channel/uid/{channelUid}": {
      "post": {
        "tags": ["Admin Gateway - Channel Management"],
        "summary": "Assign channel to gateway",
        "description": "Assigns a payment channel to a payment gateway with payCode and provider details.",
        "operationId": "assignChannelToGateway",
        "parameters": [
          {
            "name": "gatewayUid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "channelUid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssignChannelToGatewayRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Channel assigned successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperPaymentGatewayChannelResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/disbursements/{id}/retry": {
      "post": {
        "tags": ["Admin Disbursement Management"],
        "summary": "Retry disbursement",
        "description": "Retries a failed disbursement.",
        "operationId": "retryDisbursement",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "Disbursement retry initiated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperDisbursementResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/disbursements/{id}/complete": {
      "post": {
        "tags": ["Admin Disbursement Management"],
        "summary": "Complete disbursement",
        "description": "Marks a disbursement as completed.",
        "operationId": "completeDisbursement",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "reason",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Disbursement completed successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperDisbursementResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/disbursements/{id}/cancel": {
      "post": {
        "tags": ["Admin Disbursement Management"],
        "summary": "Cancel disbursement",
        "description": "Cancels a disbursement with a reason.",
        "operationId": "cancelDisbursement",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "reason",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Disbursement cancelled successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperDisbursementResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/disbursements/uid/{uid}/retry": {
      "post": {
        "tags": ["Admin Disbursement Management"],
        "summary": "Force retry disbursement",
        "description": "Retries a disbursement by ID regardless of its status (admin only).",
        "operationId": "retryDisbursementByUid",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Disbursement retry initiated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/disbursements/summary": {
      "post": {
        "tags": ["Admin Disbursement Management"],
        "summary": "Get disbursement summary",
        "description": "Generates a summary of disbursements based on criteria.",
        "operationId": "getDisbursementSummary",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DisbursementSearchCriteriaDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Disbursement summary generated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperDisbursementSummaryDto"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/disbursements/stale/process": {
      "post": {
        "tags": ["Admin Disbursement Management"],
        "summary": "Process stale disbursements",
        "description": "Processes and marks stale disbursements as failed.",
        "operationId": "processStaleDisbursements",
        "parameters": [
          {
            "name": "staleThreshold",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "format": "date-time" }
          }
        ],
        "responses": {
          "200": {
            "description": "Stale disbursements processed successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperInteger"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/disbursements/search": {
      "post": {
        "tags": ["Admin Disbursement Management"],
        "summary": "Search disbursements",
        "description": "Search disbursements using advanced criteria.",
        "operationId": "searchDisbursements",
        "parameters": [
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/Pageable" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DisbursementSearchCriteriaDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Disbursements retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponseWrapperDisbursementResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/disbursements/export/excel": {
      "post": {
        "tags": ["Admin Disbursement Management"],
        "summary": "Export disbursements to Excel",
        "description": "Exports disbursements to Excel format.",
        "operationId": "exportDisbursementsToExcel",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DisbursementSearchCriteriaDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Disbursements exported to Excel successfully",
            "content": {
              "*/*": { "schema": { "type": "string", "format": "byte" } }
            }
          }
        }
      }
    },
    "/admin/v1/disbursements/export/csv": {
      "post": {
        "tags": ["Admin Disbursement Management"],
        "summary": "Export disbursements to CSV",
        "description": "Exports disbursements to CSV format.",
        "operationId": "exportDisbursementsToCsv",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DisbursementSearchCriteriaDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Disbursements exported to CSV successfully",
            "content": { "*/*": { "schema": { "type": "string" } } }
          }
        }
      }
    },
    "/admin/v1/disbursements/archive": {
      "post": {
        "tags": ["Admin Disbursement Management"],
        "summary": "Archive old disbursements",
        "description": "Archives disbursements older than the specified threshold.",
        "operationId": "archiveOldDisbursements",
        "parameters": [
          {
            "name": "archiveThreshold",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "format": "date-time" }
          }
        ],
        "responses": {
          "200": {
            "description": "Disbursements archived successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperInteger"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/merchants/uid/{uid}/status": {
      "patch": {
        "tags": ["Admin Merchant Management"],
        "summary": "Update merchant status",
        "description": "Transitions a merchant between lifecycle statuses (e.g. ACTIVE, SUSPENDED, INACTIVE).",
        "operationId": "updateMerchantStatus",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantStatusUpdateRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperMerchantResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/merchants/uid/{uid}/parent": {
      "patch": {
        "tags": ["Admin Merchant Management"],
        "summary": "Update merchant parent",
        "description": "Assigns or removes a parent merchant relationship.",
        "operationId": "updateMerchantParent",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantParentAssignmentRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperMerchantResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/system/health": {
      "get": {
        "tags": ["system-controller"],
        "operationId": "getSystemHealth",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperObject"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/splash": {
      "get": {
        "tags": ["Public Splash Controller"],
        "operationId": "splash",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperMapStringObject"
                }
              }
            }
          }
        }
      }
    },
    "/merchant/v1/transactions/{transactionId}/status": {
      "get": {
        "tags": ["payment-controller"],
        "operationId": "getPaymentStatus",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "X-API-KEY",
            "in": "header",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/PaymentStatusDto" }
              }
            }
          }
        }
      }
    },
    "/merchant/v1/transactions/uid/{transactionUid}/status": {
      "get": {
        "tags": ["merchant-transaction-controller"],
        "operationId": "getTransactionStatus",
        "parameters": [
          {
            "name": "transactionUid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/PaymentStatusDto" }
              }
            }
          }
        }
      }
    },
    "/merchant/v1/transactions/merchant/{merchantTransactionId}/status": {
      "get": {
        "tags": ["payment-controller"],
        "operationId": "getPaymentStatusByMerchantId",
        "parameters": [
          {
            "name": "merchantTransactionId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "X-API-KEY",
            "in": "header",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/PaymentStatusDto" }
              }
            }
          }
        }
      }
    },
    "/merchant/v1/transactions/internal/{internalTransactionId}/status": {
      "get": {
        "tags": ["payment-controller"],
        "operationId": "getPaymentStatusByInternalId",
        "parameters": [
          {
            "name": "internalTransactionId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "X-API-KEY",
            "in": "header",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/PaymentStatusDto" }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": ["health-controller"],
        "operationId": "health",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "type": "object", "additionalProperties": {} }
              }
            }
          }
        }
      }
    },
    "/api/audit-logs": {
      "get": {
        "tags": ["audit-log-controller"],
        "operationId": "getAuditLogs",
        "parameters": [
          {
            "name": "eventType",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "event",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "userUid",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "merchantUid",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "format": "date-time" }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "format": "date-time" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponseWrapperAuditLog"
                }
              }
            }
          }
        }
      }
    },
    "/api/audit-logs/user/{userId}": {
      "get": {
        "tags": ["audit-log-controller"],
        "operationId": "getAuditLogsForUser",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponseWrapperAuditLog"
                }
              }
            }
          }
        }
      }
    },
    "/api/audit-logs/resource/{resourceType}/{resourceId}": {
      "get": {
        "tags": ["audit-log-controller"],
        "operationId": "getAuditLogsForResource",
        "parameters": [
          {
            "name": "resourceType",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponseWrapperAuditLog"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/users/{id}": {
      "get": {
        "tags": ["Admin User Management"],
        "summary": "Get user by ID (legacy)",
        "description": "Returns a user by numeric ID; new integrations should call the UID endpoint instead.",
        "operationId": "getUserById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "User retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperUserResponseDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Admin User Management"],
        "summary": "Delete user",
        "description": "Soft-deletes a user by ID, marking them as deleted instead of removing them permanently. Administrators cannot soft-delete their own accounts or the root account.",
        "operationId": "deleteUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "User deleted successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/users/uid/{userUid}": {
      "get": {
        "tags": ["Admin User Management"],
        "summary": "Get user by UID",
        "description": "Returns a user by their unique UID.",
        "operationId": "getUserByUid",
        "parameters": [
          {
            "name": "userUid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "User retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperUserResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/users/search": {
      "get": {
        "tags": ["Admin User Management"],
        "summary": "Search users",
        "description": "Search users by username, email, or role.",
        "operationId": "searchUsers",
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "role",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/Pageable" }
          }
        ],
        "responses": {
          "200": {
            "description": "Users retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponseWrapperUserResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/users/count": {
      "get": {
        "tags": ["Admin User Management"],
        "summary": "Count users",
        "description": "Get total number of registered users.",
        "operationId": "countUsers",
        "responses": {
          "200": {
            "description": "User count retrieved successfully",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ResponseWrapperLong" }
              }
            }
          }
        }
      }
    },
    "/admin/v1/transactions": {
      "get": {
        "tags": ["Admin Transaction Management"],
        "summary": "Get all transactions(Ready)",
        "description": "Returns a paginated list of all transactions.",
        "operationId": "getAllTransactions",
        "parameters": [
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/Pageable" }
          }
        ],
        "responses": {
          "200": {
            "description": "Transactions retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponseWrapperTransactionResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/transactions/{id}": {
      "get": {
        "tags": ["Admin Transaction Management"],
        "summary": "Get transaction by ID",
        "description": "Returns a transaction by its database ID.",
        "operationId": "getTransactionById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperTransactionResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/transactions/{id}/processing-history": {
      "get": {
        "tags": ["Admin Transaction Management"],
        "summary": "Get transaction processing history",
        "description": "Returns the processing history for a transaction.",
        "operationId": "getTransactionProcessingHistory",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "Processing history retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperListString"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/transactions/{id}/can-update": {
      "get": {
        "tags": ["Admin Transaction Management"],
        "summary": "Check if transaction can be updated",
        "description": "Checks if a transaction can be updated.",
        "operationId": "canUpdateTransaction",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "Update capability checked successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/transactions/{id}/audit-trail": {
      "get": {
        "tags": ["Admin Transaction Management"],
        "summary": "Get transaction audit trail",
        "description": "Returns the audit trail for a transaction.",
        "operationId": "getTransactionAuditTrail",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "Audit trail retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperListString"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/transactions/uid/{uid}": {
      "get": {
        "tags": ["Admin Transaction Management"],
        "summary": "Get transaction by internal ID(Ready)",
        "description": "Returns a transaction by its internal transaction ID.",
        "operationId": "getTransactionByInternalId",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperTransactionResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/transactions/status/{status}": {
      "get": {
        "tags": ["Admin Transaction Management"],
        "summary": "Get transactions by status",
        "description": "Returns transactions filtered by status.",
        "operationId": "getTransactionsByStatus",
        "parameters": [
          {
            "name": "status",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "PENDING",
                "SUCCESS",
                "FAILED",
                "CANCELLED",
                "REFUNDED",
                "EXPIRED"
              ]
            }
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/Pageable" }
          }
        ],
        "responses": {
          "200": {
            "description": "Transactions retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponseWrapperTransactionResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/transactions/stats/volume": {
      "get": {
        "tags": ["Admin Transaction Management"],
        "summary": "Get transaction volume stats",
        "description": "Generates transaction volume statistics.",
        "operationId": "getTransactionVolumeStats",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "format": "date-time" }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "format": "date-time" }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction volume stats generated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperTransactionSummaryDto"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/transactions/stats/status": {
      "get": {
        "tags": ["Admin Transaction Management"],
        "summary": "Get transaction stats by status",
        "description": "Generates transaction statistics grouped by status.",
        "operationId": "getTransactionStatsByStatus",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "format": "date-time" }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "format": "date-time" }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction stats by status generated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperListTransactionSummaryDto"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/transactions/stats/gateway": {
      "get": {
        "tags": ["Admin Transaction Management"],
        "summary": "Get transaction stats by gateway",
        "description": "Generates transaction statistics grouped by payment gateway.",
        "operationId": "getTransactionStatsByGateway",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "format": "date-time" }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "format": "date-time" }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction stats by gateway generated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperListTransactionSummaryDto"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/transactions/stats/daily": {
      "get": {
        "tags": ["Admin Transaction Management"],
        "summary": "Get daily transaction stats",
        "description": "Generates daily transaction statistics.",
        "operationId": "getDailyTransactionStats",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "format": "date-time" }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "format": "date-time" }
          }
        ],
        "responses": {
          "200": {
            "description": "Daily transaction stats generated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperListTransactionSummaryDto"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/transactions/stale": {
      "get": {
        "tags": ["Admin Transaction Management"],
        "summary": "Get stale transactions",
        "description": "Returns transactions that are considered stale.",
        "operationId": "getStaleTransactions",
        "parameters": [
          {
            "name": "staleThreshold",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "format": "date-time" }
          }
        ],
        "responses": {
          "200": {
            "description": "Stale transactions retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperListTransactionResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/transactions/pending": {
      "get": {
        "tags": ["Admin Transaction Management"],
        "summary": "Get pending transactions",
        "description": "Returns all pending transactions.",
        "operationId": "getPendingTransactions",
        "parameters": [
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/Pageable" }
          }
        ],
        "responses": {
          "200": {
            "description": "Pending transactions retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponseWrapperTransactionResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/transactions/merchant/{merchantId}": {
      "get": {
        "tags": ["Admin Transaction Management"],
        "summary": "Get transaction by merchant ID",
        "description": "Returns a transaction by its merchant transaction ID.",
        "operationId": "getTransactionByMerchantId",
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperTransactionResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/transactions/merchant/{merchantId}/summary": {
      "get": {
        "tags": ["Admin Transaction Management"],
        "summary": "Get merchant transaction summary",
        "description": "Generates a summary of transactions for a specific merchant.",
        "operationId": "getMerchantTransactionSummary",
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "format": "date-time" }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "format": "date-time" }
          }
        ],
        "responses": {
          "200": {
            "description": "Merchant transaction summary generated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperTransactionSummaryDto"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/transactions/merchant/{merchantId}/all": {
      "get": {
        "tags": ["Admin Transaction Management"],
        "summary": "Get transactions by merchant",
        "description": "Returns all transactions for a specific merchant.",
        "operationId": "getTransactionsByMerchant",
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/Pageable" }
          }
        ],
        "responses": {
          "200": {
            "description": "Transactions retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponseWrapperTransactionResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/transactions/gateway/{gatewayCode}": {
      "get": {
        "tags": ["Admin Transaction Management"],
        "summary": "Get transactions by gateway",
        "description": "Returns transactions for a specific payment gateway.",
        "operationId": "getTransactionsByGateway",
        "parameters": [
          {
            "name": "gatewayCode",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/Pageable" }
          }
        ],
        "responses": {
          "200": {
            "description": "Transactions retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponseWrapperTransactionResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/transactions/failed": {
      "get": {
        "tags": ["Admin Transaction Management"],
        "summary": "Get failed transactions",
        "description": "Returns all failed transactions.",
        "operationId": "getFailedTransactions",
        "parameters": [
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/Pageable" }
          }
        ],
        "responses": {
          "200": {
            "description": "Failed transactions retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponseWrapperTransactionResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/transactions/exists/{internalTransactionId}": {
      "get": {
        "tags": ["Admin Transaction Management"],
        "summary": "Check transaction existence",
        "description": "Checks if a transaction exists by internal ID.",
        "operationId": "transactionExists",
        "parameters": [
          {
            "name": "internalTransactionId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction existence checked successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/transactions/date-range": {
      "get": {
        "tags": ["Admin Transaction Management"],
        "summary": "Get transactions by date range",
        "description": "Returns transactions within a specific date range.",
        "operationId": "getTransactionsByDateRange",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "format": "date-time" }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "format": "date-time" }
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/Pageable" }
          }
        ],
        "responses": {
          "200": {
            "description": "Transactions retrieved successfully",
            "content": {
              "*/*": {
[...]
